<app-diagram-editor [model]="model" (nodeSelected)="showDetails($event)" (modelChanged)="onModelChanged($event)">
</app-diagram-editor>
<div class="inspector-container">

  <div class="inspectorheaderDiv">Inspector</div>

  <div *ngIf="node" class="inspectorDiv">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Properties</mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formGroup">

          <dynamic-material-form *ngIf="node" [group]="formGroup" [model]="formModel"></dynamic-material-form>
          <button (click)="onCommitDetails()" mat-button>Save</button>
          <button (click)="onCancelChanges()" mat-button>Cancel</button>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="node
    && data.properties.Options
    && !data.properties.SetValueAsDestination
    && data.properties.NumberOfDigitsToWaitForNextStep === 1
    && data.properties.TerminationDigit.length === 0 ">

      <mat-card-header>
        <mat-card-title>Inputs</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form class="example-form">
          <mat-form-field>
            <input #digit matInput placeholder="Port Digit" [textMask]="{mask: digitMask}" required>
          </mat-form-field>
          <button (click)="addInputPort(digit.value)" mat-button>
            <mat-icon>add</mat-icon>
          </button>
        </form>
        <mat-list>
          <mat-list-item *ngFor="let port of data.properties.Options; index as i">{{port.portId}}
            <button (click)="removeInputPort(i)" mat-button>
              <mat-icon>clear</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>

    </mat-card>

    <mat-card *ngIf="node && data.properties.Triggers">

        <mat-card-header>
          <mat-card-title>Triggers</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <form>
            <mat-form-field>
              <mat-select #triggerSelect placeholder="Trigger" >
                <mat-option *ngFor="let trigger of triggerSteps()" [value]="trigger">{{trigger}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button (click)="addTriggerPort(triggerSelect.value)" mat-button>
              <mat-icon>add</mat-icon>
            </button>
          </form>
          <mat-list>
            <mat-list-item *ngFor="let port of data.properties.Triggers; index as i">{{port.portId}}
              <button (click)="removeTriggerPort(i)" mat-button>
                <mat-icon>clear</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>

      </mat-card>

      <mat-card *ngIf="node && data.properties.PromptChanges">

          <mat-card-header>
            <mat-card-title>Prompt Changes</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <form>
              <mat-form-field>
                <mat-select #PromptChangesStepSelect placeholder="Step" >
                  <mat-option *ngFor="let PromptChange of triggerSteps()" [value]="PromptChange">{{PromptChange}}</mat-option>
                </mat-select>
                </mat-form-field>
                <mat-form-field>
                <mat-select #PromptChangesPromptSelect placeholder="Prompt" >
                    <mat-option *ngFor="let prompt of mockPrompts" [value]="prompt">{{prompt}}</mat-option>
                  </mat-select>
              </mat-form-field>
              <button (click)="addPromptChanges(PromptChangesStepSelect.value, PromptChangesPromptSelect.value )" mat-button>
                <mat-icon>add</mat-icon>
              </button>
            </form>
            <mat-list>
              <mat-list-item *ngFor="let PromptChange of data.properties.PromptChanges; index as i">{{PromptChange.stepId}} - {{PromptChange.prompt}}
                <button (click)="removePromptChanges(i)" mat-button>
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </mat-card-content>

        </mat-card>



  </div>



</div>
