:host {
  margin: 0;
  height: 100vh; 
  width: 100vw; 
  display: block;
}

.diagramsPanel {
  width:100%;
  white-space:nowrap;
  display: block;
  overflow: auto;
  height: 100%;
}

.diagramDiv {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 75%;
  height:100%
}

.palette-container {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 24%;
  height:100%;
  background-color:#ecf0f8;
}

.paletteDiv {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height:95%;
}

.paletteheaderDiv {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height:5%;
  box-shadow: inset -1px -1px 1px #434c63;
  background-color: #545D74;
  background-image: -ms-linear-gradient(top, #6B748F 0%, #545D74 100%);
  background-image: -moz-linear-gradient(top, #6B748F 0%, #545D74 100%);
  background-image: -o-linear-gradient(top, #6B748F 0%, #545D74 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6B748F), color-stop(100, #545D74));
  background-image: -webkit-linear-gradient(top, #6B748F 0%, #545D74 100%);
  background-image: linear-gradient(to bottom, #6B748F 0%, #545D74 100%);
  color: #fff;
  font-size: 18px;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 0 30px;
}


